*{
    padding: 0;
    margin: 0 auto;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

:root{
    --azul1: #132740;
    --azul2:#132742;
    --azulClaro1: #407087;
    --azulClaro2: #71ADB5;
    --rosa1: #FECBCA;
    --rosa2: #FF8E90;
}

@font-face {
    font-family: Cocogoose;
    src: url(../fonts/Cocogoose-Pro-Regular-trial.ttf);
}

#menu{
    width: 100%;
    height: 90px;
    background-color: var(--azul1);
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 0px 10px;
    
}

.logo{
    width: 20%;
    margin-top: 10px;
}

.menu-hamburguesa{
    display: none;
}

.fa-bars{
    color: #ffffff;
    font-size: 35px;
    
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 25px;
    transition: 0.2s;
    margin: 0 5px;
    line-height: 15px;
    position: relative;
    font-weight: 500;
}

.nav li a::before{
    content: ' ';
    position: absolute;
    width: 0%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--azulClaro1);
    bottom: 0;
    left: 0;
    transition: all .25s ease-in-out;
}

.nav li a:hover::before{
    width: 100%;
}

.nav li a:hover{
    color: var(--azulClaro2);
    transition: .25s ease-in-out;
}

@media screen and (max-width: 1080px) {
    #menu{
        padding: 0px 50px;
    }
    
}

@media screen and (max-width: 999px) {
    .menu-hamburguesa{
        display: block;
        cursor: pointer;
        padding: 0px 60px;
        margin: 0;
    }


    .logo{
        margin-left: 40px;
    }
    
    .nav{
        height: 0;
        position: absolute;
        top: 85px;
        left: 1; right: 0;
        width: 40%;
        background-color: var(--azul2);
        transition: 0.2s;
        overflow: hidden;
        
    }

    .nav.active{
        height: 100%;
        z-index: 2;
    }

    .nav ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: right;
        transition: 0.2s;
        opacity: 0;
    }

    .nav.active ul{
        opacity: 1;
    }

    .nav li a{
        margin-bottom: 12px;
        color: #ffffff;
    }
    
}

@media screen and (max-width: 859px) {
    .logo{
        width: 25%;
    }

}

@media screen and (max-width: 703px) {
    .logo{
        width: 30%;
    }

}

@media screen and (max-width: 609px) {
    .logo{
        width: 40%;
        margin-left: 0;
    }

    .nav{
        width: 100%;
    }

    .nav ul{
        text-align: center;
    }

    .menu-hamburguesa{
        padding: 0px 0px;
    }

}

@media screen and (max-width: 420px) {
    .logo{
        width: 50%;
    }

}


@media screen and (max-width: 360px) {
    .logo{
        width: 50%;
    }

    .menu-hamburguesa{
        padding: 0px 0px;
    }

    .fa-bars{
        font-size: 28px;
        
    } 

}




/*CUESTIONARIO*/

/**/

.intro-titulo{
    height: 550px;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: var(--azulClaro1);
    background-image: url(../img/FondoCompleto.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    transition: 0.5s ease-in-out;

}


.intro-titulo h1{
    font-size: 90px;
    text-align: center;
    font-family: Cocogoose;
    color: #ffffff;
}

main{
    width: 100%;
    height: auto;
    background-color: var(--azulClaro2);
}

.StalkingQuiz{
    padding: 40px;
}

#cuestionario{
    width: 50%;
    height: auto;
    color: var(--azul1);
    background-color: #ffffff;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.titulo-quiz{
    text-align: center;
}

.pre-quiz{
    padding: 80px 100px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: justify;
    color: var(--azul1);
    background-color: #ffffff;
}



.pre-quiz h3{
    font-size: 30px;
    color: var(--rosa2);
    font-weight: 500;
}


.quiz h2{
    font-size: 15px;
    font-weight: 500;
}

.btn{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid var(--azul1);
    border-radius: 10px;
    text-align: left;
    margin: 10px 0px;
    cursor: pointer;
    color: var(--azul1);
    transition: 0.2s ease-in-out;
}

.btn:hover:not([disabled]){
    background-color: var(--azulClaro1);
    color: #ffffff;
}

#siguiente{
    padding: 15px;
    background-color: var(--azulClaro1);
    color: #ffffff;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    display: none;
}

.correcto, .incorrecto{
    background-color: var(--azulClaro1);
    color: #ffffff;
}

@media screen and (max-width: 900px) {
    #cuestionario{
        width: 60%;
    }
}

@media screen and (max-width: 770px) {
    #cuestionario{
        width: 80%;
    }
}

@media screen and (max-width: 580px) {

    .StalkingQuiz{
        padding: 30px;
    }

    #cuestionario{
        width: 100%;
    }

    .pre-quiz{
        padding: 80px 70px;
        font-size: 15px;
    }

    .pre-quiz h3 {
        font-size: 25px;
    }
    .intro-titulo h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) {

    .StalkingQuiz{
        padding: 10px;
    }

    #cuestionario{
        padding: 40px;
    }

    .pre-quiz{
        padding: 80px 50px;
    }
    .pre-quiz h3 {
        font-size: 20px;
        text-align: left;
    }

    .intro-titulo h1{
        font-size: 45px;
    }

}







/*FIN CUESTIONARIO */

/*FOOTER*/

footer{
    background-color: var(--azul1);
    color: #ffffff;
    font-size: 15px;

}

footer h3{
    margin-bottom: 10px;
    color: var(--azulClaro1);
    font-weight: 500;
}

footer a{
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

footer a:hover, .social .fa-brands:hover{
    color: var(--azulClaro2); 

}


.info-footer{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    padding: 50px;
    box-sizing: border-box;

}

.logoInfo p{
    text-align: justify;
}

.logoInfo img{
    width: 70%;
}

.links, .contact, .social, .legal{
    line-height: 30px;
}

.social .fa-brands{
    font-size: 40px;
    cursor: pointer;
}

.social .fa-brands:hover{
    transition: 0.2s ease-in-out;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: #0d1d31;
}

@media screen and (max-width: 1024px) {
    .info-footer{
        grid-template-columns: 0.9fr 0.8fr 0.8fr 1fr 1fr;
        padding: 30px;

    
    }

}

@media screen and (max-width: 999px) {
    .info-footer{
        grid-auto-flow: column;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr;
        text-align: center;
        padding: 50px;
        gap: 20px;
    }

    .logoInfo img{
        width: 30%;
        text-align: center;
    }

    .logoInfo{
        width: 100%;
    }
}

@media screen and (max-width: 560px) {

    .logoInfo img{
        width: 60%;
    }

}


@media screen and (max-width: 360px) {

    .logoInfo img{
        width: 70%;
    }

}




